# Bỏ qua môi trường ảo và thư mục hệ thống
rie_env/
__pycache__/
.vscode/
.env
# Nếu không muốn đưa ảnh test và kết quả lên thì bật 2 dòng này (tùy chọn)
# input/
# output/
# debug/

# Bỏ qua mô hình nặng (không đẩy file .safetensors / .bin)
my_model/*.safetensors
my_model/*.bin
*.zip